<!DOCTYPE html>
<html>
    <body>
	   <a href="/games?game=lol&action=<%=action%>">lol</a><br>
       <a href="/games?game=soccer&action=<%=action%>">soccer</a><br>
	   <a href="/sports/football">football</a>
    </body>
</html>